# H1: Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

**Objectives:**
- Data Science Tools
- Languages of Data Science
- Libraries used in Data Science
- Juputer Notebook and Jupyter lab
- RStudio

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. MatPlotlib
4. Seaborn
5. Scikit-learn
6. Keras

Data Science Tootls
-------------------
1. Python
2. Jupyter Notebook
3. Matplotlib
4. Apache Spark
5. Tensor Flow
6. R
7. ggplot2

# H3: Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# H2: Author
Kalyani Bhor